*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url("../images/site-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(33, 33, 33);
    font-family: "Poiret One", sans-serif;
}

header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header {
    color: white;
    background-color: rgba(0, 0, 0, 0.363);
    background-image: linear-gradient(#000000, #00000000);
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 50px;
}

main {
    display: flex;
    flex-grow: 1;;
    justify-content: center;
    align-items: center;
    
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(#001519ea, #0e5c6d78);
    width: 95%;
    height: auto;
    max-width: 450px;
    min-height: 600px;
    padding: 2rem 1rem;
    border: 6px solid rgba(189, 189, 189, 0.078);
    border-radius: 20px;
    box-shadow: 4px 10px 40px 6px;
}

#calculator-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 90%;
    padding: 0;
    border: 4px solid #063943;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 10px;
}

#cancel {
    color: #063943ea;
    background-color: rgb(65, 156, 221);
    font-weight: 900;
    font-size: 18px;
    padding: 16px;
    border: 3px solid #063943;
    border-radius: 6px 0px 0px 6px;
}

#cancel:hover {
    cursor: pointer;
    color: rgb(10, 110, 122);
}

#calculations {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    text-align: right;
    width: 100%;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

#calculations p {
    white-space: nowrap;
}

#calculator-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 90%;
    margin: 20px auto;
    gap: 10px; 
}

#numbers {
    flex: 3;
    display: grid;
    width: 70%;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: .5em;
    background-color: rgb(68, 67, 66);
    padding: .75em;
    border: .2em solid white;
    border-radius: 10px;
}

#zero {
    grid-column: span 2;
}

#equals {
    grid-column: span 3;
}

#delete {
    color: rgb(103, 5, 5);
    background-color: rgb(255, 140, 140);
    border: .2em solid rgba(127, 29, 29, 0.417);
    font-size: 1em;
    font-weight: 800;
}

#delete:hover {
    color: rgb(145, 8, 8);
}

#operations {
    flex: 1;
    display: grid;
    justify-content: center;
    width: 26%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: .5em;
    background-color: rgb(68, 67, 66);
    padding: .75em;
    border: .2em solid white;
    border-radius: 10px;
}

.number-button, 
.operation-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    text-align: center;
    border: 3px solid gray;
    border-radius: .4em;
    aspect-ratio: auto; 
    padding: 1em 0.5em; 
    font-size: clamp(1rem, 4vw, 1.5rem); 
    width: 100%; 
    height: 100%;
}

.number-button:hover,
.operation-button:hover {
    cursor: pointer;
    color: rgb(7, 94, 94);
}

footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.363);
    background-image: linear-gradient(#00000000, #00000092);
    border-top: 1px solid white;
    margin-top: 50px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 10px;
} 

